$accent: #d7b399;
$dark: #212121;
$light: #f9f6f1;
$gray: #cbcfd4;
$light-gray: #f4f4f4;
$dark-gray: #8d8d8d;
$important:#d84033;


// @mixin f300 {
//   font-family: "Roboto", sans-serif;
//   font-weight: 300;
// }
// @mixin f500 {
//   font-family: "Roboto", sans-serif;
//   font-weight: 500;
// }
// @mixin f700 {
//   font-family: "Roboto", sans-serif;
//   font-weight: 700;
//   color: #263238;
// }
// @mixin icomoon {
//   position: absolute;
//   font-family: "icomoon";
// }
